{% extends "base.html" %}

{% block contenido %}
<div class="jumbotron">
<h1>Login</h1>
        <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Log in" class="btn btn-primary" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>

        <p>Not a member? <a href="{% url 'registration_register' %}" class="btn btn-secondary">Register</a></p>
</div>
{% endblock %}
